<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gallen.article.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.gallen.pojos.article.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="cover" column="cover" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="views" column="views" jdbcType="BIGINT"/>
            <result property="comments" column="comments" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="collections" column="collections" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="channelId" column="channel_id" jdbcType="BIGINT"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover,
        content,views,comments,
        likes,collections,status,
        create_time,update_time,create_user,
        update_user,is_delete,channel_id,
        publish_time
    </sql>

    <update id="incrViews">
        update tb_article set views = views + #{incr} where id = #{articleId};
    </update>

    <update id="updateLikes">
        update tb_article set likes = #{likes} where id = #{articleId};
    </update>
</mapper>
